{
    "env": {
        "test": {
            "presets": [
                "@babel/preset-env"
            ],
            "plugins": [
                "@babel/plugin-transform-modules-commonjs",
                ["module-resolver", {
                    "root": ["./src"],
                    "alias": {
                        "@": "./src"
                    }
                }]
            ]
        }
    },
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import"
    ]
}
