.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.db
*.pyc
.zanata-cache
po/*.po
po/*.pot
tests/*.gpx

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
