<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

        <meta name="description" content="Track and share issues (work, interruption in routes, parked cars) on bike lanes in realtime!">
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:creator" content="@PhyksIsHere" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Cyclassist: your bike companion!" />
        <meta property="og:description" content="Track and share issues (work, interruption in routes, parked cars) on bike lanes in realtime!" />
        <meta property="og:url" content="<%= htmlWebpackPlugin.options.ogURL %>" />
        <meta property="og:image" content="<%= htmlWebpackPlugin.options.ogImage %>" />

        <link type="text/plain" rel="author" href="humans.txt" />

        <title>Cyclassist: your bike companion!</title>
    </head>
    <body>
        <div id="app">
            <noscript>
                <h1>Cyclassist</h1>
                <h2>Track and share issues (work, interruption in routes, parked cars) on bike lanes in realtime!</h2>
                <p>Sorry, JavaScript is required to run this webapp.</p>
            </noscript>
        </div>
        <!-- built files will be auto injected -->
    </body>
</html>
